@page "/"

<section id="home-background">
    <div class="container">
        <div class="row">
            <section id="background-title" class="col-md">

            </section>
        </div>
    </div>
</section>
<section id="introduction-section" class="container-fluid">
    <div class="row">
        <section class="col-md-8 offset-md-2 title-summary">
            <h2>We are Suspect.</h2>
            <p>Suspect is about friendly friends being good friends in a community of friends where everyone is close friends with one another.</p>
        </section>
    </div>
</section>